@{
    ViewData["Title"] = "Estudiantes";
}

@section Styles {
    <link rel="stylesheet" href="~/css/views/workshops.css" asp-append-version="true" />
}

<table>

</table>

@section Scripts {
    @* <script src="~/js/home-index.js" asp-append-version="true"></script> *@
}